header{
    background: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}
.over{
    background:rgb(45, 52, 54,0.5);
}
.mv{
    font-size: 35px;
    color: aqua;
}
article{
    background: url(../img/Sac2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}